@font-face {
  font-family: "AmaticSC-Bold";
  src: url(/fonts/AmaticSC-Bold.woff2);
}
@font-face {
  font-family: "AmaticSC-Regular";
  src: url(/fonts/AmaticSC-Regular.woff2);
}
body {
  background-color: #F5F5E2;
  font-family: "AmaticSC-Regular";
}
body header .navbar {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
body header .navbar a {
  font-size: 25px;
  color: #8EA257;
  text-align: center;
  font-family: "AmaticSC-Bold";
  padding: 20px 20px;
  text-decoration: none;
}
body header .navbar a:hover {
  background-color: #E4E1C7;
}
@media (max-width: 575.98px) {
  body header .navbar a {
    font-size: 20px;
  }
}
body header .navbar .dropdown {
  overflow: hidden;
}
body header .navbar .dropdown:hover .dropdown_recipes {
  background-color: #8EA257;
  display: block;
}
body header .navbar .dropdown .dropbtn {
  font-size: 25px;
  border: none;
  color: #8EA257;
  padding: 20px 20px;
  font-family: "AmaticSC-Bold";
  background-color: inherit;
}
body header .navbar .dropdown .dropbtn:hover {
  background-color: #E4E1C7;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  body header .navbar .dropdown .dropbtn {
    font-size: 20px;
  }
}
body header .navbar .dropdown .dropdown_recipes {
  display: none;
  position: absolute;
  z-index: 3;
}
body header .navbar .dropdown .dropdown_recipes a {
  color: #F5F5E2;
  font-size: 20px;
  padding: 20px 20px;
  display: block;
  text-align: left;
}
body header .navbar .dropdown .dropdown_recipes a:hover {
  background-color: #E4E1C7;
  color: #8EA257;
}
body header .navbar .dropdown .dropdown_recipes .active_img {
  background-color: #a49477;
  color: #E4E1C7;
}
body header .navbar .dropdown .dropdown_recipes .active_img:hover {
  background-color: rgb(45, 22, 77) !important;
}
body header .navbar .dropdown .dropdown_recipes .modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 95vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content {
  background-color: #E4E1C7;
  margin: auto;
  padding: 6px;
  border: 1px solid rgba(245, 242, 242, 0.831372549);
  width: 80vw;
  height: 90vh;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  justify-items: center;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close {
  color: #797979;
  float: right;
  background-color: rgba(251, 251, 251, 0);
  z-index: 5;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close:hover,
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL {
  color: #797979;
  float: right;
  background-color: rgba(251, 251, 251, 0);
  z-index: 5;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL:hover,
body header .navbar .dropdown .dropdown_recipes .modal .modal-content .closeL :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body main .heroshoot {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
body main .heroshoot .hero-img {
  padding-right: 6%;
  position: absolute;
  width: 55vw;
}
@media (max-width: 639.98px) {
  body main .heroshoot .hero-img {
    width: 80vw !important;
  }
}
body main .heroshoot h1 {
  color: #F5F5E2;
  position: absolute;
  padding-top: 4%;
  font-size: 40px;
  font-family: "AmaticSC-Bold";
}
@media (max-width: 639.98px) {
  body main .heroshoot h1 {
    font-size: 7vw !important;
    font-weight: 900 !important;
  }
}
body main .banner {
  overflow: hidden;
}
body main .banner .banner-track {
  padding-top: 30px;
  animation: scroll 15s linear infinite;
  width: 100vw;
  display: flex;
}
body main .banner .banner-track:hover {
  animation-play-state: paused;
}
body main .banner .banner-item {
  width: 250vw;
  min-height: 5vh;
  margin-right: 10px;
}
body main .banner .banner-item img {
  width: 100vw;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}
body main .news-section {
  text-align: center;
  padding: 2rem;
  margin-top: 30px;
}
body main .news-section .slider-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  max-width: 1210px;
  overflow-x: auto;
  margin: 0 auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
  -ms-overflow-style: none;
  height: 460px;
}
body main .news-section .slider-container .news-card {
  background-color: #F0AC70;
  color: #E4E1C7;
  border-radius: 30px;
  min-width: 280px;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
}
body main .news-section .slider-container .news-card .news_container {
  display: flex;
  justify-content: center;
}
body main .news-section .slider-container .news-card .news_container .news_img {
  width: 280px;
  border-radius: 30px 30px 0 0;
  opacity: 0.9;
}
body main .news-section .slider-container .news-card .news_container .news_img:hover {
  opacity: 1;
}
body main .news-section .slider-container .news-card .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 30px 30px;
  width: 100%;
  align-self: center;
  box-shadow: 1px -7px 10px 6px rgba(233, 200, 173, 0.4862745098);
  height: 220px;
}
body main .news-section .slider-container .news-card .info-container H1 {
  font-size: 16px;
  color: #F5F5E2;
  line-height: 25px;
  height: 34px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 15px 0;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}
body main .news-section .slider-container .news-card .info-container p {
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 25px;
  max-height: 50px;
  display: -webkit-box;
  color: #8EA257;
  -webkit-box-orient: vertical;
  padding: 5px 15px;
  align-self: anchor-center;
  background-color: #F5F5E2;
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  width: 250px;
}
body main .news-section .slider-container .news-card .info-container .news_btn {
  background-color: #F5F5E2;
  padding: 7px 20px;
  margin: 1px 5px;
  border-color: #ebbe86;
  border-style: double;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #F0AC70;
  cursor: pointer;
  font-family: "AmaticSC-Bold";
  font-weight: 700;
  text-decoration-line: none;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  filter: drop-shadow(8px 5px 8px rgb(155, 111, 44));
  transition: all 0.5s ease-in;
}
body main .news-section .slider-container .news-card .info-container .news_btn:hover {
  background-color: #F0AC70;
  color: #F5F5E2;
  border-color: #ffffff;
  transition: all 0.5s ease-out;
  filter: drop-shadow(8px 5px 8px rgb(63, 50, 31));
}
body main .news-section .slider-container::-webkit-scrollbar {
  background-color: transparent;
}
body main .title_facts {
  font-size: 45px;
  color: #8EA257;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 65px;
  font-weight: 600;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body main .row-facts {
  display: flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 80px;
}
body main .column-facts {
  max-width: 25%;
  padding: 0 10px;
}
body main .column-facts img {
  width: 100%;
  margin: 10px;
  opacity: 0.5;
}
body main .column-facts img:hover {
  opacity: 0.8;
  scale: 100deg;
}
@media (max-width: 814.98px) {
  body main .column-facts {
    max-width: 50%;
  }
}
body main .health-container {
  margin: 40px auto;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main .health-container button {
  background-color: #8EA257;
  padding: 8px 20px;
  margin: 10px 50px;
  border-color: #e1e6d6;
  border-radius: 5px;
  margin-left: 5px;
  color: #e1e6d6;
  cursor: pointer;
  font-family: "AmaticSC-Bold";
  font-size: 25px;
  transition: all 0.5s ease-in;
}
body main .health-container button:hover {
  background-color: #E4E1C7;
  color: #8EA257;
  transition: all 0.5s ease-out;
  filter: drop-shadow(8px 5px 8px rgb(3, 3, 3));
}
body main .benefits_container {
  display: none;
}
body main .js_benefits_container {
  display: flex !important;
  flex-direction: column;
  box-shadow: #797979;
  background-color: #e1e6d6;
  width: 50vw;
  justify-self: anchor-center;
  padding: 50px;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body main .js_benefits_container li {
  font-size: 18px;
  font-weight: 600;
  color: #8EA257;
  filter: drop-shadow(15px 8px 3px rgb(255, 255, 255));
}
body main .btn_toggle {
  display: none;
}
body main .table_container {
  display: none;
}
body main .js_table_container {
  justify-content: center;
  display: flex;
  justify-items: center;
  flex-direction: row;
}
body main .js_table_container .nutrients {
  border-collapse: collapse;
  width: 70vw;
}
body main .js_table_container .nutrients th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8EA257;
  color: white;
  border: 2px solid #8EA257;
  font-size: 24px;
  font-weight: 800;
}
body main .js_table_container .nutrients td {
  border: 1px solid #8EA257;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #8EA257;
}
@media (max-width: 575.98px) {
  body main .js_table_container .nutrients td {
    font-size: 16px;
  }
}
body footer .footer_cont {
  display: flex;
  width: 92vw;
  padding: 10px 0;
  flex-direction: row;
}
body footer .footer_cont img {
  position: absolute;
}
body footer .footer_cont .left_img {
  left: 0;
}
body footer .footer_cont .right_img {
  right: 0;
}
body footer .footer_cont .recipes-footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: anchor-center;
  justify-content: center;
}
body footer .footer_cont .recipes-footer .footer-r h5 {
  font-size: 20px;
  padding: 20px;
  margin-right: 30px;
  color: #a49477;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 6px rgba(200, 226, 179, 0.4862745098);
}
body footer .footer_cont .recipes-footer .footer-r li {
  list-style: none;
}
body footer .footer_cont .recipes-footer .footer-r li a {
  text-decoration: none;
  color: #8EA257;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}
@media (max-width: 814.98px) {
  body footer .footer_cont .left_img,
  body footer .footer_cont .right_img {
    width: 120px;
    padding-top: 60px;
  }
  body footer .footer_cont .recipes-footer {
    align-items: center;
    flex-direction: column;
  }
  body footer .footer_cont h5 {
    font-size: 16px !important;
    margin-right: 0px !important;
    padding: 13px !important;
  }
  body footer .footer_cont a {
    font-size: 18px !important;
  }
}/*# sourceMappingURL=main.css.map */bout1 {
  display: flex;
  position: relative;
  width: 94vw;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #F1E8DF;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .title-p1 {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-family: "ChelaOne";
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 15px;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .bold1 {
  font-weight: 800;
  font-size: 18px;
  font-family: "ChelaOne";
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .lang {
  font-size: 16px;
  font-weight: 800;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  font-family: "Chile";
  padding: 10px 30px;
  border-color: #f7f5f2;
  border-style: dashed;
  background-color: #F1E8DF;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  min-width: 30vw;
  padding: 15px 30px 15px 30px;
  color: #A47155;
  border-radius: 0px;
  justify-content: center;
  padding: 1% 5% 1% 5%;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info {
  color: #A47155;
  text-align: center;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info .lang_container {
  text-align: start;
  background-color: #F1E8DF;
  padding: 15px 50px;
  box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.462745098);
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info .lang_container li {
  font-family: "Chile";
  list-style: square;
  font-size: 16px;
  padding: 1%;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8%;
  min-width: 30vw;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .title-personal {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-family: "ChelaOne";
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 55px;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg {
  box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.462745098);
  padding: 20px;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  color: #A47155;
  background-color: #F1E8DF;
  font-family: "Chile";
  border-style: double;
  border-color: #F1E8DF;
  text-align: start;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .personal_skill {
  padding-right: 20px;
  margin: 1px;
  font-weight: 600;
  font-size: 14px;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps {
  display: flex;
  flex-direction: row;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps li {
  align-self: center;
  margin: 4px;
  filter: drop-shadow(1px 0.5px 1px rgb(102, 112, 112));
  list-style: circle;
  background-color: #B8E0D8;
  border-radius: 60px;
  color: #B8E0D8;
  font-size: 16px;
}
body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps .empty {
  background-color: rgb(228, 240, 239);
  border-radius: 60px;
  color: #B8E0D8;
}
@media (max-width: 449.98px) {
  body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  body main .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 {
    flex-direction: column;
    border-radius: 3px;
    width: 90vw;
    border-radius: 4px;
  }
}
@media (max-width: 767.98px) {
  body main .about .about_info .modalAbout1 .modal-contentAbout1 {
    border-radius: 3px;
    width: 90vw;
    height: 99vh;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
body main .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
  padding: 2%;
  position: relative;
  flex-direction: column;
}
body main .skills .skills-container {
  min-width: 90vw;
  display: flex;
  padding: 2%;
  opacity: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  filter: drop-shadow(3px 2px 3px rgb(71, 63, 52));
}
body main .skills .skills-container .skill {
  padding: 1%;
}
body main .skills .skills-container .skill:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
}
@media (max-width: 639.98px) {
  body main .skills .skills-container .skill {
    height: 70px;
    width: 60px;
  }
}
body main .skills .front-end-skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.6%;
  position: relative;
}
body main .skills .front-end-skills .title-skills-f {
  padding-left: 4%;
  position: relative;
  height: 10vh;
  width: 32%;
  align-self: baseline;
}
body main .skills .front-end-skills .title-skills-f .fe-bg {
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 25px;
  padding: 10px;
  margin-top: 1%;
  background-color: #F1E8DF;
  border-color: #A47155;
  border-style: solid;
  border-width: 0.3ch;
  border-radius: 32% 1% 73% 2%;
  padding-left: 15%;
  padding-right: 58px;
}
@media (max-width: 814.98px) {
  body main .skills .front-end-skills .title-skills-f .fe-bg {
    font-size: 15px !important;
    width: 95%;
  }
}
@media (max-width: 767.98px) {
  body main .skills .front-end-skills .title-skills-f .fe-bg {
    font-size: 16px !important;
  }
}
body main .skills .bg-skills {
  align-self: center;
  filter: drop-shadow(11px -2px 7px rgb(71, 63, 52));
  position: relative;
  opacity: 0.9;
  justify-items: center !important;
}
@media (max-width: 639.98px) {
  body main .skills .bg-skills {
    width: 100px;
  }
}
body main .skills .data-science-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.6%;
  position: relative;
}
body main .skills .data-science-skills .title-skills-ds {
  padding-left: 4%;
  position: relative;
  height: 10vh;
  width: 32%;
}
body main .skills .data-science-skills .title-skills-ds .ds-bg {
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 25px;
  padding: 10px;
  margin-top: 1%;
  background-color: #F1E8DF;
  border-color: #A47155;
  border-style: solid;
  border-width: 0.3ch;
  border-radius: 2% 85% 3% 42%;
  padding-left: 15%;
  padding-right: 68px;
}
@media (max-width: 814.98px) {
  body main .skills .data-science-skills .title-skills-ds .ds-bg {
    font-size: 16px !important;
    width: 95%;
  }
}
@media (max-width: 1149.98px) {
  body main .skills .skills-container {
    gap: 0.53%;
  }
  body main .skills .fe-bg,
  body main .skills .ds-bg {
    font-size: 23px !important;
  }
}
body main .title-project {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 50px;
}
body main .title-project P {
  position: absolute;
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 50px;
  margin-top: 1%;
  padding-left: 100px;
}
@media (max-width: 767.98px) {
  body main .title-project {
    padding-left: 4vw !important;
  }
  body main .title-project img {
    width: 220px;
    height: 50px !important;
  }
  body main .title-project p {
    margin-top: 0.5%;
    padding-left: 50px;
    font-size: 30px;
  }
}
body main .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  position: relative;
  margin-bottom: 100px;
  min-height: 40vh;
}
body main .projects .project,
body main .projects .project1 {
  margin: 20px;
  align-items: center;
}
body main .projects .project .myBtn,
body main .projects .project1 .myBtn {
  color: #F5F5E2;
  display: block;
}
body main .projects .project .myBtn:hover,
body main .projects .project1 .myBtn:hover {
  background-color: #F1E8DF;
  color: #8EA257;
  cursor: pointer;
  opacity: 0.9;
  scale: 5deg;
  padding: 4% 0 0 4%;
  border-radius: 40px;
}
@media (max-width: 575.98px) {
  body main .projects .project .myBtn,
  body main .projects .project1 .myBtn {
    width: 300px;
  }
}
body main .projects .project .active_img,
body main .projects .project1 .active_img {
  background-color: #a49477;
  color: #E4E1C7;
}
body main .projects .project .active_img:hover,
body main .projects .project1 .active_img:hover {
  background-color: rgb(45, 22, 77) !important;
}
body main .projects .project .modal,
body main .projects .project1 .modal {
  display: none;
  position: fixed;
  z-index: 14 !important;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body main .projects .project .modal .modal-content,
body main .projects .project1 .modal .modal-content {
  background-color: #F1E8DF;
  margin: auto;
  padding: 6px;
  border-radius: 40px;
  border: 1px solid #F1E8DF;
  width: 80vw;
  height: 85vh;
  box-sizing: border-box;
  justify-items: center;
}
body main .projects .project .modal .modal-content .close,
body main .projects .project1 .modal .modal-content .close {
  color: #A47155;
  float: right;
  background-color: rgba(1, 1, 0, 0);
  z-index: 15 !important;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body main .projects .project .modal .modal-content .close:hover,
body main .projects .project .modal .modal-content .close :focus,
body main .projects .project1 .modal .modal-content .close:hover,
body main .projects .project1 .modal .modal-content .close :focus {
  text-decoration: none;
  cursor: pointer;
}
body main .projects .project .modal .modal-content .title-p,
body main .projects .project1 .modal .modal-content .title-p {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-size: 25px;
  font-family: "ChelaOne";
}
body main .projects .project .modal .modal-content p,
body main .projects .project1 .modal .modal-content p {
  color: #A47155;
  font-family: "Chile";
  margin: 5px;
  padding: 5px;
  justify-self: anchor-center;
}
body main .projects .project .modal .modal-content .container,
body main .projects .project1 .modal .modal-content .container {
  position: relative;
  width: 74vw;
  align-items: center;
  border-radius: 40px;
  height: 80vh !important;
}
body main .projects .project .modal .modal-content .container .mySlides,
body main .projects .project1 .modal .modal-content .container .mySlides {
  display: flex;
  border-radius: 30px;
  height: 56vh;
}
body main .projects .project .modal .modal-content .container .mySlides .numbertext,
body main .projects .project1 .modal .modal-content .container .mySlides .numbertext {
  color: #A47155;
  font-size: 12px;
  position: absolute;
  padding: 1px 10px;
  margin: 2px;
  top: 0;
  justify-self: anchor-center !important;
  font-size: 14px;
  background-color: #F1E8DF;
  border-radius: 90px 40px 90px 40px;
}
body main .projects .project .modal .modal-content .container .mySlides .left-side,
body main .projects .project1 .modal .modal-content .container .mySlides .left-side {
  display: flex;
  flex-direction: column;
  align-content: space-evenly !important;
  max-width: 80vw;
  padding-left: 3%;
  color: #F1E8DF;
  border-radius: 40px;
  justify-content: center;
}
body main .projects .project .modal .modal-content .container .mySlides .left-side .title-p,
body main .projects .project1 .modal .modal-content .container .mySlides .left-side .title-p {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-size: 22px;
  font-family: "ChelaOne";
}
body main .projects .project .modal .modal-content .container .mySlides .left-side .info_pr,
body main .projects .project1 .modal .modal-content .container .mySlides .left-side .info_pr {
  color: #A47155;
  font-family: "Chile";
  text-align: start;
  padding: 20px 25px;
  margin: 10% 4% 15%;
  font-size: 16px;
  word-spacing: 0.4cm;
  word-wrap: break-word;
  border-radius: 90px 90px 40px 40px;
}
body main .projects .project .modal .modal-content .container .mySlides .left-side .link-proj,
body main .projects .project1 .modal .modal-content .container .mySlides .left-side .link-proj {
  font-size: 16px;
  background-color: #A47155;
  padding: 3% 8%;
  color: rgb(248, 248, 248);
  border-radius: 90px 90px 40px 40px;
  font-family: "ChelaOne";
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body main .projects .project .modal .modal-content .container .mySlides .right-side,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 32vw;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body main .projects .project .modal .modal-content .container .mySlides .right-side .demo,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side .demo {
  opacity: 0.8;
  max-height: 60vh;
  max-width: 30vw;
}
body main .projects .project .modal .modal-content .container .mySlides .right-side .demo:hover,
body main .projects .project .modal .modal-content .container .mySlides .right-side .demo .active,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side .demo:hover,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side .demo .active {
  opacity: 1;
  cursor: pointer;
}
body main .projects .project .modal .modal-content .container .mySlides .right-side-gallery,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery {
  display: flex;
  flex-wrap: wrap;
  max-height: 46vh;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body main .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo {
  opacity: 0.7;
  max-height: 35vh;
  max-width: 25vw;
  padding: 2%;
}
body main .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo:hover,
body main .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo .active,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo:hover,
body main .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo .active {
  opacity: 1;
  cursor: pointer;
  scale: 40deg;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .tech_name,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_name {
  font-size: 16px;
  font-weight: 800;
  justify-self: center;
  font-family: "ChelaOne";
  padding: 10px 30px;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .proj_overv,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .proj_overv {
  font-size: 17px;
  justify-self: start;
  font-family: "Chile";
  padding: 10px 28px 20px;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container {
  color: #A47155;
  text-align: center;
  padding: 10px;
  max-width: 60vw;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang {
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F1E8DF;
  padding: 1px 50px;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang li,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang li {
  font-family: "Chile";
  list-style: square;
  font-size: 17px;
  padding: 2%;
}
body main .projects .project .modal .modal-content .container .mySlides .project-tech .title-p1,
body main .projects .project1 .modal .modal-content .container .mySlides .project-tech .title-p1 {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  padding-bottom: 20px;
  font-size: 22px;
  font-family: "ChelaOne";
}
body main .projects .project .modal .modal-content .container .prev,
body main .projects .project .modal .modal-content .container .next,
body main .projects .project1 .modal .modal-content .container .prev,
body main .projects .project1 .modal .modal-content .container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #A47155;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  padding: 20px 14px 20px 26px;
}
body main .projects .project .modal .modal-content .container .prev:hover,
body main .projects .project .modal .modal-content .container .next:hover,
body main .projects .project1 .modal .modal-content .container .prev:hover,
body main .projects .project1 .modal .modal-content .container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 16;
}
body main .projects .project .modal .modal-content .container .next,
body main .projects .project1 .modal .modal-content .container .next {
  right: 0;
  padding: 20px 14px 20px 26px;
  border-radius: 3px 0 0 3px;
}
body main .projects .project .modal .modal-content .container .caption-container #caption,
body main .projects .project1 .modal .modal-content .container .caption-container #caption {
  text-align: center;
  font-size: 18px;
  padding: 1px 10px !important;
  font-family: "ChelaOne";
  margin: 10px 20px !important;
  color: #A47155;
  border-style: double;
  border-color: #A47155;
  border-radius: 90px 40px 90px 40px;
}
body main .projects .project .modal .modal-content .container .row,
body main .projects .project1 .modal .modal-content .container .row {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 20px !important;
  margin-top: 10px;
  box-sizing: border-box;
  height: 13vh;
  justify-content: space-evenly;
  align-items: stretch;
  align-self: center !important;
  flex-direction: row;
  border-radius: 20px;
}
body main .projects .project .modal .modal-content .container .row .column,
body main .projects .project1 .modal .modal-content .container .row .column {
  float: left;
  align-items: center;
  display: flex;
  gap: 10px;
}
body main .projects .project .modal .modal-content .container .row .column .img_bottom,
body main .projects .project1 .modal .modal-content .container .row .column .img_bottom {
  opacity: 0.7;
  max-height: 10vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-self: anchor-center;
  filter: drop-shadow(5px 5px 10px rgb(38, 36, 30));
}
body main .projects .project .modal .modal-content .container .row .column .img_bottom:hover,
body main .projects .project .modal .modal-content .container .row .column .img_bottom .active,
body main .projects .project1 .modal .modal-content .container .row .column .img_bottom:hover,
body main .projects .project1 .modal .modal-content .container .row .column .img_bottom .active {
  opacity: 1;
  cursor: pointer;
  scale: 5deg;
}
body main .projects .project .modal .modal-content .container .row .column .img_bottom:hover,
body main .projects .project1 .modal .modal-content .container .row .column .img_bottom:hover {
  cursor: pointer;
  opacity: 0.9;
  width: 215px;
}
body main .projects .project .modal .overflh body,
body main .projects .project1 .modal .overflh body {
  overflow: hidden;
}
body footer .footer-container {
  display: flex;
  position: relative;
  justify-content: space-around;
}
body footer .footer-container .contact-info {
  display: flex;
  margin-bottom: 20px;
}
body footer .footer-container .contact-info .cont-title-img {
  filter: drop-shadow(5px 10px 5px rgb(94, 86, 63));
  rotate: 348deg;
  padding-top: 5%;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-info .cont-title-img {
    width: 25dvw;
    height: 220px;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info .cont-title-img {
    rotate: 348deg;
  }
}
body footer .footer-container .contact-info .cont-title {
  font-size: 70px;
  padding-left: 22px;
  font-family: "ChelaOne";
  color: #F1E8DF;
  font-weight: 500;
  filter: drop-shadow(5px 10px 5px rgb(95, 90, 84));
  rotate: 344deg;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-info .cont-title {
    font-size: 12vw;
  }
}
body footer .footer-container .contact-info .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  filter: drop-shadow(3px 1px 5px rgb(80, 75, 59));
}
body footer .footer-container .contact-info .social .sn:hover {
  padding: 1%;
  filter: drop-shadow(5px -2px 7px rgb(94, 86, 63));
}
body footer .footer-container .contact-info .social .sn .soc {
  width: 70px;
}
@media (max-width: 767.98px) {
  body footer .footer-container .contact-info .social .sn .soc {
    width: 50px;
  }
}
@media (max-width: 479.98px) {
  body footer .footer-container .contact-info .social .sn {
    margin-left: -50% !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info .social {
    margin-top: 30%;
    margin-right: 10% !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info {
    margin-bottom: 20px;
    align-self: flex-start;
    margin: 0 0 4% 15%;
  }
}
body footer .footer-container .contact-news {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news .newsl-bg {
    width: 84vw !important;
    justify-self: baseline;
  }
}
body footer .footer-container .contact-news form {
  position: absolute;
  height: 230px;
  padding-left: 2dvw;
}
body footer .footer-container .contact-news form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
  font-family: "ChelaOne";
  color: #A47155;
  border: none;
  font-size: 21px;
}
body footer .footer-container .contact-news form label textarea,
body footer .footer-container .contact-news form label input {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 210px;
  margin-left: 28%;
  margin-bottom: 1%;
  border: 0 !important;
  height: 35px;
  overflow-wrap: normal;
  background-color: transparent;
  font-family: "ChelaOne";
  color: #A47155;
}
body footer .footer-container .contact-news form label textarea:hover, body footer .footer-container .contact-news form label textarea:focus,
body footer .footer-container .contact-news form label input:hover,
body footer .footer-container .contact-news form label input:focus {
  width: 180px;
  border-style: none;
  border: 0;
}
body footer .footer-container .contact-news form label textarea:focus-visible,
body footer .footer-container .contact-news form label input:focus-visible {
  outline: 0;
}
body footer .footer-container .contact-news form label #ask {
  max-width: 260px;
  height: 90px;
  overflow-y: auto;
  resize: vertical;
  margin-top: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
}
@media (max-width: 479.98px) {
  body footer .footer-container .contact-news form label {
    width: 141px;
    height: 39px;
    font-size: 14px !important;
    padding-left: 0px;
  }
  body footer .footer-container .contact-news form label input {
    margin-left: 0;
    width: 113px;
    height: 40px !important;
  }
  body footer .footer-container .contact-news form .ask {
    height: 80px !important;
  }
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news form label {
    width: 150px;
    height: 45px;
    font-size: 14px !important;
    padding-left: 10px;
  }
  body footer .footer-container .contact-news form label textarea,
  body footer .footer-container .contact-news form label input {
    margin-left: 0;
    width: 176px;
    height: 61px !important;
  }
  body footer .footer-container .contact-news form .ask {
    height: 80px !important;
  }
}
body footer .footer-container .contact-news form .subm {
  display: flex;
  position: absolute;
  background-color: white;
  font-family: "Chicle";
  color: #A47155;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 22px;
  padding: 1% 3%;
  border-color: #F1E8DF;
  border-style: solid;
  border-width: 0.4ch;
  border-radius: 10% 40% 10% 52%;
}
body footer .footer-container .contact-news form .subm:hover {
  cursor: pointer;
  padding: 1.4% 3.5%;
  text-shadow: #6b5447;
  color: #B8E0D8;
  border-color: #B8E0D8;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news form {
    height: 175px;
    padding-left: 1dvw !important;
    width: 200px;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-news img {
    max-width: 50vw !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10% !important;
  }
}
@media (max-width: 1149.98px) {
  body footer .footer-container .cont-title {
    font-size: 62px;
    margin-top: 10%;
  }
  body footer .footer-container .social {
    margin-top: 28%;
    margin-left: -8% !important;
  }
  body footer .footer-container .contact-news img {
    max-width: 500px !important;
  }
}/*# sourceMappingURL=main.css.map */