@font-face {
  font-family: "ChelaOne";
  src: url(/fonts/ChelaOne-Regular.woff2);
}
@font-face {
  font-family: "Chicle";
  src: url(/fonts/Chicle-Regular.woff2);
}
a {
  color: initial;
  text-decoration: none;
}

body {
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #B8E0D8;
}
@media (max-width: 767.98px) {
  body .navbar-left a {
    font-size: 18px !important;
    left: 10dvw !important;
  }
  body .navbar-right a {
    font-size: 18px !important;
  }
  body .about .bg_about {
    width: 95vw;
    height: 350px;
  }
  body .about .about_title {
    bottom: 200px !important;
    font-size: 15px !important;
  }
}
@media (max-width: 1189.98px) {
  body .navbar-left a,
  body .navbar-right a {
    font-size: 20px !important;
  }
  body .about {
    flex-direction: column;
  }
  body .about .personal_img {
    left: 34% !important;
    max-width: 40vw;
  }
}
@media (max-width: 991.98px) {
  body .navbar-left {
    left: -90dww;
    padding: 0px 1px;
  }
  body .navbar-left a {
    font-size: 16px !important;
    padding: 1px;
  }
  body .navbar-right {
    right: -12dvh !important;
    padding: 0px 1px;
  }
  body .navbar-right a {
    font-size: 16px !important;
    padding: 1px;
  }
}
body .home-btn {
  position: absolute;
  rotate: 270deg;
  padding: 5px 3px;
  background-color: #A47155;
  box-shadow: 1px 1px 10px 1px #a78365;
  z-index: 5;
  align-self: end;
  left: -2%;
  margin-bottom: 50px;
}
body .home-btn a {
  text-align: center;
  font-size: 20px;
  padding: 4px 12px;
  font-family: "ChelaOne";
  color: #F1E8DF;
  background-color: #A47155;
  margin: 2px;
  text-shadow: 1px 1px 1px #4a3820;
}
body .home-btn a:hover {
  border-color: #F1E8DF;
  font-weight: 100;
  background-color: #F1E8DF;
  color: #A47155;
  justify-self: center;
  padding: 9px 6px;
  border-width: 0.4ch;
  border-style: solid;
}
@media (max-width: 479.98px) {
  body .home-btn {
    left: -6% !important;
  }
}
@media (max-width: 814.98px) {
  body .home-btn {
    left: -3.8%;
  }
  body .home-btn a {
    font-size: 15px;
  }
}
body header {
  position: relative;
}
body header .navbar-left,
body header .navbar-right {
  position: absolute;
  rotate: 270deg;
  top: 18px;
  padding: 8px 1px;
  background-color: #EBDF55;
  box-shadow: 1px 1px 10px 1px #a78365;
  z-index: 5;
}
body header .navbar-left a,
body header .navbar-right a {
  text-align: center;
  font-size: 22px;
  padding: 2px 10px;
  font-family: "ChelaOne";
  color: #F1E8DF;
  margin: 4px;
  text-shadow: 2px 2px 4px #6b5447;
}
body header .navbar-left a:hover,
body header .navbar-right a:hover {
  border-color: #F1E8DF;
  font-weight: 100;
  background-color: #F1E8DF;
  color: #EBDF55;
  justify-self: center;
  padding: 9px 6px;
  border-width: 0.4ch;
  border-style: solid;
}
body header .navbar-right {
  right: -5dvw;
  top: 16dvh;
}
body main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
body .heroshoot {
  display: flex;
  justify-content: center;
  position: relative;
}
body .heroshoot .progress {
  background-color: #A47155;
  border-radius: 21px;
  position: absolute;
  left: 7%;
  height: 86%;
  width: 1dvw;
  rotate: 180deg;
  margin-top: 4%;
  z-index: 8;
}
body .heroshoot .progress-one,
body .heroshoot .progress-two {
  background: #EBDF55;
  box-shadow: 0 3px 3px -5px #11110f, 0 2px 5px #0d0d0a;
  border-radius: 20px;
  color: #000000;
  display: flex;
  z-index: 11;
  position: absolute;
  align-items: baseline;
  justify-content: left;
  height: 2%;
  rotate: 180deg;
  width: 12px;
  opacity: 0.01;
  transition: 2s ease 0.3s;
}
body .heroshoot .progress-one .year,
body .heroshoot .progress-two .year {
  z-index: 12;
  justify-self: flex-end;
  padding: 3px;
  position: absolute;
  color: #7f4b2f;
  filter: drop-shadow(-1px 1px 1px rgb(255, 255, 255));
  font-weight: 700;
  box-shadow: 0 3px 3px -5px #2b2b2a, 0 2px 5px #2c2c2a;
  left: 20px;
}
body .heroshoot .progress-two {
  z-index: 10;
  height: 3%;
}
body .heroshoot .hero-img {
  position: relative;
  filter: drop-shadow(-10px 10px 5px rgb(99, 81, 57));
  max-width: 75vw;
}
body .heroshoot .logo {
  position: absolute;
  top: 15px;
  max-width: 14vw;
}
body .heroshoot .logo {
  top: 5px;
}
body .about {
  position: relative;
  display: flex;
  margin-top: 10vh;
  height: 100%;
  margin-bottom: 10vh;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
@media (max-width: 575.98px) {
  body .about .about-img .bg_img {
    width: 80vw;
  }
}
body .about .about-img .personal_img {
  position: absolute;
  filter: drop-shadow(-10px 10px 5px rgb(71, 63, 52));
  left: 16%;
  width: 220px;
  margin-top: 1%;
}
@media (max-width: 575.98px) {
  body .about .about-img .personal_img {
    padding-left: 0.1%;
  }
}
body .about .about_info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 350px;
}
body .about .about_info .myBtnAbout {
  position: absolute;
  background: none;
  border: none;
  padding-bottom: 42px;
  padding-left: 35px;
  transition: width 2s;
  filter: drop-shadow(-5px 2px 4px rgb(71, 63, 52));
  z-index: 10;
}
body .about .about_info .myBtnAbout:hover {
  cursor: pointer;
  opacity: 0.9;
  width: 75px;
  filter: drop-shadow(-3px 3px 5px rgb(129, 110, 51));
}
@media (max-width: 499.98px) {
  body .about .about_info .myBtnAbout {
    width: 60px;
  }
  body .about .about_info .myBtnAbout:hover {
    width: 55px;
    cursor: pointer;
  }
}
body .about .about_info .modalAbout {
  display: none;
  position: fixed;
  z-index: 19 !important;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .about .about_info .modalAbout .modal-contentAbout {
  background-color: #F1E8DF;
  border-radius: 30px;
  border: 1px solid #F1E8DF;
  width: 92vw;
  height: 94vh;
  overflow-x: hidden;
  justify-items: center;
}
body .about .about_info .modalAbout .modal-contentAbout .closeAb {
  color: #A47155;
  font-weight: 800;
  padding: 3px 15px;
  float: right;
  background-color: rgba(1, 1, 0, 0);
  z-index: 15 !important;
  font-size: 28px;
  align-self: anchor-center;
  font-weight: bold;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout {
  display: flex;
  position: relative;
  width: 94vw;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #F1E8DF;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .title-p {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-family: "ChelaOne";
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 15px;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .bold {
  font-weight: 800;
  font-size: 18px;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .left-education {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  min-width: 40vw;
  padding: 15px 30px 15px 30px;
  color: #A47155;
  border-radius: 0px;
  justify-content: center;
  padding: 1% 5% 1% 5%;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .left-education .education-info {
  padding: 0.1%;
  box-shadow: 1px 1px 2px 1px #b3a293;
  margin: 2%;
  color: #A47155;
  background-color: rgba(159, 208, 199, 0.3137254902);
  font-family: "Chile";
  border-style: double;
  border-color: #B8E0D8;
  text-align: center;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .right-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 35vw;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .right-work .availab {
  padding: 1% 5% 1% 5%;
  margin-bottom: 5%;
  color: #A47155;
  background-color: #F1E8DF;
  box-shadow: 1px 1px 10px 1px #a78365;
  font-family: "Chile";
  border-style: double;
  margin-bottom: 15px;
  border-color: #F1E8DF;
  text-align: center;
}
body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout .right-work .employment {
  margin-bottom: 5%;
  padding: 1% 5% 2% 5%;
  color: #A47155;
  background-color: #F1E8DF;
  box-shadow: 1px 1px 10px 1px #a78365;
  font-family: "Chile";
  border-style: double;
  border-color: #F1E8DF;
  text-align: center;
}
@media (max-width: 767.98px) {
  body .about .about_info .modalAbout .modal-contentAbout .mySlidesAbout {
    flex-direction: column;
    border-radius: 3px;
    width: 90vw;
    border-radius: 4px;
  }
}
@media (max-width: 767.98px) {
  body .about .about_info .modalAbout .modal-contentAbout {
    border-radius: 3px;
    width: 90vw;
    height: 99vh;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
body .about .about_info .about_title {
  position: absolute;
  font-family: "ChelaOne";
  color: #F1E8DF;
  font-size: 19px;
  align-self: anchor-center;
  padding: 8px;
  background-color: #A47155;
  border-color: #A47155;
  border-style: solid;
  border-width: 0.3ch;
  border-radius: 59% 5% 71% 0%;
  left: 16%;
  rotate: 349deg;
  text-shadow: 3px 2px 3px rgb(77, 67, 54);
  filter: drop-shadow(3px 2px 3px rgb(77, 67, 54));
  bottom: 260px;
}
body .about .about_info .about_me {
  position: absolute;
  font-size: 19px !important;
  align-self: anchor-center;
  justify-self: anchor-center;
  padding: 5% 16% 6% 31%;
  font-family: "ChelaOne";
  word-spacing: 0.1cm;
  justify-content: center;
  color: #A47155;
  rotate: 356deg;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
@media (max-width: 767.98px) {
  body .about .about_info .about_me {
    font-size: 15px !important;
    padding: 9% 16% 5% 32%;
  }
}
body .about .about_info .myBtnAbout1 {
  position: absolute;
  background: none;
  border: none;
  padding-bottom: 25px;
  left: 115px;
  transition: width 2s;
  z-index: 10;
  filter: drop-shadow(-5px 2px 4px rgb(71, 63, 52));
}
body .about .about_info .myBtnAbout1:hover {
  cursor: pointer;
  opacity: 0.9;
  width: 75px;
  filter: drop-shadow(-3px 3px 5px rgb(129, 110, 51));
}
@media (max-width: 499.98px) {
  body .about .about_info .myBtnAbout1 {
    width: 60px;
  }
  body .about .about_info .myBtnAbout1:hover {
    width: 55px;
    cursor: pointer;
  }
}
body .about .about_info .modalAbout1 {
  display: none;
  position: fixed;
  z-index: 19 !important;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .about .about_info .modalAbout1 .modal-contentAbout1 {
  background-color: #F1E8DF;
  border-radius: 30px;
  border: 1px solid #F1E8DF;
  width: 92vw;
  height: 94vh;
  overflow-x: hidden;
  justify-items: center;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .closeAb1 {
  color: #A47155;
  font-weight: 800;
  padding: 3px 15px;
  float: right;
  background-color: rgba(1, 1, 0, 0);
  z-index: 15 !important;
  font-size: 28px;
  align-self: anchor-center;
  font-weight: bold;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 {
  display: flex;
  position: relative;
  width: 94vw;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #F1E8DF;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .title-p1 {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-family: "ChelaOne";
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 15px;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .bold1 {
  font-weight: 800;
  font-size: 18px;
  font-family: "ChelaOne";
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .lang {
  font-size: 16px;
  font-weight: 800;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  font-family: "Chile";
  padding: 10px 30px;
  border-color: #f7f5f2;
  border-style: dashed;
  background-color: #F1E8DF;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  min-width: 30vw;
  padding: 15px 30px 15px 30px;
  color: #A47155;
  border-radius: 0px;
  justify-content: center;
  padding: 1% 5% 1% 5%;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info {
  color: #A47155;
  text-align: center;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info .lang_container {
  text-align: start;
  background-color: #F1E8DF;
  padding: 15px 50px;
  box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.462745098);
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .left-languages .languages-info .lang_container li {
  font-family: "Chile";
  list-style: square;
  font-size: 16px;
  padding: 1%;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8%;
  min-width: 30vw;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .title-personal {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-family: "ChelaOne";
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 55px;
  filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg {
  box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.462745098);
  padding: 20px;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  color: #A47155;
  background-color: #F1E8DF;
  font-family: "Chile";
  border-style: double;
  border-color: #F1E8DF;
  text-align: start;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .personal_skill {
  padding-right: 20px;
  margin: 1px;
  font-weight: 600;
  font-size: 14px;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps {
  display: flex;
  flex-direction: row;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps li {
  align-self: center;
  margin: 4px;
  filter: drop-shadow(1px 0.5px 1px rgb(102, 112, 112));
  list-style: circle;
  background-color: #B8E0D8;
  border-radius: 60px;
  color: #B8E0D8;
  font-size: 16px;
}
body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container .responsive-ps .empty {
  background-color: rgb(228, 240, 239);
  border-radius: 60px;
  color: #B8E0D8;
}
@media (max-width: 449.98px) {
  body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 .right-pers-skill .personal_skill_bg .personal_skill_container {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  body .about .about_info .modalAbout1 .modal-contentAbout1 .mySlidesAbout1 {
    flex-direction: column;
    border-radius: 3px;
    width: 90vw;
    border-radius: 4px;
  }
}
@media (max-width: 767.98px) {
  body .about .about_info .modalAbout1 .modal-contentAbout1 {
    border-radius: 3px;
    width: 90vw;
    height: 99vh;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
body .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
  padding: 2%;
  position: relative;
  flex-direction: column;
}
body .skills .skills-container {
  min-width: 90vw;
  display: flex;
  padding: 2%;
  opacity: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  filter: drop-shadow(3px 2px 3px rgb(71, 63, 52));
}
body .skills .skills-container .skill {
  padding: 1%;
}
body .skills .skills-container .skill:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
}
@media (max-width: 639.98px) {
  body .skills .skills-container .skill {
    height: 70px;
    width: 60px;
  }
}
body .skills .front-end-skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.6%;
  position: relative;
}
body .skills .front-end-skills .title-skills-f {
  padding-left: 4%;
  position: relative;
  height: 10vh;
  width: 32%;
  align-self: baseline;
}
body .skills .front-end-skills .title-skills-f .fe-bg {
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 25px;
  padding: 10px;
  margin-top: 1%;
  background-color: #F1E8DF;
  border-color: #A47155;
  border-style: solid;
  border-width: 0.3ch;
  border-radius: 32% 1% 73% 2%;
  padding-left: 15%;
  padding-right: 58px;
}
@media (max-width: 814.98px) {
  body .skills .front-end-skills .title-skills-f .fe-bg {
    font-size: 15px !important;
    width: 95%;
  }
}
@media (max-width: 767.98px) {
  body .skills .front-end-skills .title-skills-f .fe-bg {
    font-size: 16px !important;
  }
}
body .skills .bg-skills {
  align-self: center;
  filter: drop-shadow(11px -2px 7px rgb(71, 63, 52));
  position: relative;
  opacity: 0.9;
  justify-items: center !important;
}
@media (max-width: 639.98px) {
  body .skills .bg-skills {
    width: 100px;
  }
}
body .skills .data-science-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.6%;
  position: relative;
}
body .skills .data-science-skills .title-skills-ds {
  padding-left: 4%;
  position: relative;
  height: 10vh;
  width: 32%;
}
body .skills .data-science-skills .title-skills-ds .ds-bg {
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 25px;
  padding: 10px;
  margin-top: 1%;
  background-color: #F1E8DF;
  border-color: #A47155;
  border-style: solid;
  border-width: 0.3ch;
  border-radius: 2% 85% 3% 42%;
  padding-left: 15%;
  padding-right: 68px;
}
@media (max-width: 814.98px) {
  body .skills .data-science-skills .title-skills-ds .ds-bg {
    font-size: 16px !important;
    width: 95%;
  }
}
@media (max-width: 1149.98px) {
  body .skills .skills-container {
    gap: 0.53%;
  }
  body .skills .fe-bg,
  body .skills .ds-bg {
    font-size: 23px !important;
  }
}
body .title-project {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 50px;
}
body .title-project P {
  position: absolute;
  font-family: "ChelaOne";
  color: #A47155;
  font-size: 50px;
  margin-top: 1%;
  padding-left: 100px;
}
@media (max-width: 767.98px) {
  body .title-project {
    padding-left: 4vw !important;
  }
  body .title-project img {
    width: 220px;
    height: 50px !important;
  }
  body .title-project p {
    margin-top: 0.5%;
    padding-left: 50px;
    font-size: 30px;
  }
}
body .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  position: relative;
  margin-bottom: 100px;
  min-height: 40vh;
}
body .projects .project,
body .projects .project1 {
  margin: 20px;
  align-items: center;
}
body .projects .project .myBtn,
body .projects .project1 .myBtn {
  color: #F5F5E2;
  display: block;
}
body .projects .project .myBtn:hover,
body .projects .project1 .myBtn:hover {
  background-color: #F1E8DF;
  color: #8EA257;
  cursor: pointer;
  opacity: 0.9;
  scale: 5deg;
  padding: 4% 0 0 4%;
  border-radius: 40px;
}
@media (max-width: 575.98px) {
  body .projects .project .myBtn,
  body .projects .project1 .myBtn {
    width: 300px;
  }
}
body .projects .project .active_img,
body .projects .project1 .active_img {
  background-color: #a49477;
  color: #E4E1C7;
}
body .projects .project .active_img:hover,
body .projects .project1 .active_img:hover {
  background-color: rgb(45, 22, 77) !important;
}
body .projects .project .modal,
body .projects .project1 .modal {
  display: none;
  position: fixed;
  z-index: 14 !important;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .projects .project .modal .modal-content,
body .projects .project1 .modal .modal-content {
  background-color: #F1E8DF;
  margin: auto;
  padding: 6px;
  border-radius: 40px;
  border: 1px solid #F1E8DF;
  width: 80vw;
  height: 85vh;
  box-sizing: border-box;
  justify-items: center;
}
body .projects .project .modal .modal-content .close,
body .projects .project1 .modal .modal-content .close {
  color: #A47155;
  float: right;
  background-color: rgba(1, 1, 0, 0);
  z-index: 15 !important;
  font-size: 28px;
  align-self: anchor-center !important;
  font-weight: bold;
}
body .projects .project .modal .modal-content .close:hover,
body .projects .project .modal .modal-content .close :focus,
body .projects .project1 .modal .modal-content .close:hover,
body .projects .project1 .modal .modal-content .close :focus {
  text-decoration: none;
  cursor: pointer;
}
body .projects .project .modal .modal-content .title-p,
body .projects .project1 .modal .modal-content .title-p {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-size: 25px;
  font-family: "ChelaOne";
}
body .projects .project .modal .modal-content p,
body .projects .project1 .modal .modal-content p {
  color: #A47155;
  font-family: "Chile";
  margin: 5px;
  padding: 5px;
  justify-self: anchor-center;
}
body .projects .project .modal .modal-content .container,
body .projects .project1 .modal .modal-content .container {
  position: relative;
  width: 74vw;
  align-items: center;
  border-radius: 40px;
  height: 80vh !important;
}
body .projects .project .modal .modal-content .container .mySlides,
body .projects .project1 .modal .modal-content .container .mySlides {
  display: flex;
  border-radius: 30px;
  height: 56vh;
}
body .projects .project .modal .modal-content .container .mySlides .numbertext,
body .projects .project1 .modal .modal-content .container .mySlides .numbertext {
  color: #A47155;
  font-size: 12px;
  position: absolute;
  padding: 1px 10px;
  margin: 2px;
  top: 0;
  justify-self: anchor-center !important;
  font-size: 14px;
  background-color: #F1E8DF;
  border-radius: 90px 40px 90px 40px;
}
body .projects .project .modal .modal-content .container .mySlides .left-side,
body .projects .project1 .modal .modal-content .container .mySlides .left-side {
  display: flex;
  flex-direction: column;
  align-content: space-evenly !important;
  max-width: 80vw;
  padding-left: 3%;
  color: #F1E8DF;
  border-radius: 40px;
  justify-content: center;
}
body .projects .project .modal .modal-content .container .mySlides .left-side .title-p,
body .projects .project1 .modal .modal-content .container .mySlides .left-side .title-p {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  font-size: 22px;
  font-family: "ChelaOne";
}
body .projects .project .modal .modal-content .container .mySlides .left-side .info_pr,
body .projects .project1 .modal .modal-content .container .mySlides .left-side .info_pr {
  color: #A47155;
  font-family: "Chile";
  text-align: start;
  padding: 20px 25px;
  margin: 10% 4% 15%;
  font-size: 16px;
  word-spacing: 0.4cm;
  word-wrap: break-word;
  border-radius: 90px 90px 40px 40px;
}
body .projects .project .modal .modal-content .container .mySlides .left-side .link-proj,
body .projects .project1 .modal .modal-content .container .mySlides .left-side .link-proj {
  font-size: 16px;
  background-color: #A47155;
  padding: 3% 8%;
  color: rgb(248, 248, 248);
  border-radius: 90px 90px 40px 40px;
  font-family: "ChelaOne";
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body .projects .project .modal .modal-content .container .mySlides .right-side,
body .projects .project1 .modal .modal-content .container .mySlides .right-side {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 32vw;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body .projects .project .modal .modal-content .container .mySlides .right-side .demo,
body .projects .project1 .modal .modal-content .container .mySlides .right-side .demo {
  opacity: 0.8;
  max-height: 60vh;
  max-width: 30vw;
}
body .projects .project .modal .modal-content .container .mySlides .right-side .demo:hover,
body .projects .project .modal .modal-content .container .mySlides .right-side .demo .active,
body .projects .project1 .modal .modal-content .container .mySlides .right-side .demo:hover,
body .projects .project1 .modal .modal-content .container .mySlides .right-side .demo .active {
  opacity: 1;
  cursor: pointer;
}
body .projects .project .modal .modal-content .container .mySlides .right-side-gallery,
body .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery {
  display: flex;
  flex-wrap: wrap;
  max-height: 46vh;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));
}
body .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo,
body .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo {
  opacity: 0.7;
  max-height: 35vh;
  max-width: 25vw;
  padding: 2%;
}
body .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo:hover,
body .projects .project .modal .modal-content .container .mySlides .right-side-gallery .demo .active,
body .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo:hover,
body .projects .project1 .modal .modal-content .container .mySlides .right-side-gallery .demo .active {
  opacity: 1;
  cursor: pointer;
  scale: 40deg;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .tech_name,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_name {
  font-size: 16px;
  font-weight: 800;
  justify-self: center;
  font-family: "ChelaOne";
  padding: 10px 30px;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .proj_overv,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .proj_overv {
  font-size: 17px;
  justify-self: start;
  font-family: "Chile";
  padding: 10px 28px 20px;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container {
  color: #A47155;
  text-align: center;
  padding: 10px;
  max-width: 60vw;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang {
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F1E8DF;
  padding: 1px 50px;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang li,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .tech_container .tech_lang li {
  font-family: "Chile";
  list-style: square;
  font-size: 17px;
  padding: 2%;
}
body .projects .project .modal .modal-content .container .mySlides .project-tech .title-p1,
body .projects .project1 .modal .modal-content .container .mySlides .project-tech .title-p1 {
  font-size: 25px;
  color: #A47155;
  text-align: center;
  padding-bottom: 20px;
  font-size: 22px;
  font-family: "ChelaOne";
}
body .projects .project .modal .modal-content .container .prev,
body .projects .project .modal .modal-content .container .next,
body .projects .project1 .modal .modal-content .container .prev,
body .projects .project1 .modal .modal-content .container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #A47155;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  padding: 20px 14px 20px 26px;
}
body .projects .project .modal .modal-content .container .prev:hover,
body .projects .project .modal .modal-content .container .next:hover,
body .projects .project1 .modal .modal-content .container .prev:hover,
body .projects .project1 .modal .modal-content .container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 16;
}
body .projects .project .modal .modal-content .container .next,
body .projects .project1 .modal .modal-content .container .next {
  right: 0;
  padding: 20px 14px 20px 26px;
  border-radius: 3px 0 0 3px;
}
body .projects .project .modal .modal-content .container .caption-container #caption,
body .projects .project1 .modal .modal-content .container .caption-container #caption {
  text-align: center;
  font-size: 18px;
  padding: 1px 10px !important;
  font-family: "ChelaOne";
  margin: 10px 20px !important;
  color: #A47155;
  border-style: double;
  border-color: #A47155;
  border-radius: 90px 40px 90px 40px;
}
body .projects .project .modal .modal-content .container .row,
body .projects .project1 .modal .modal-content .container .row {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 20px !important;
  margin-top: 10px;
  box-sizing: border-box;
  height: 13vh;
  justify-content: space-evenly;
  align-items: stretch;
  align-self: center !important;
  flex-direction: row;
  border-radius: 20px;
}
body .projects .project .modal .modal-content .container .row .column,
body .projects .project1 .modal .modal-content .container .row .column {
  float: left;
  align-items: center;
  display: flex;
  gap: 10px;
}
body .projects .project .modal .modal-content .container .row .column .img_bottom,
body .projects .project1 .modal .modal-content .container .row .column .img_bottom {
  opacity: 0.7;
  max-height: 10vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-self: anchor-center;
  filter: drop-shadow(5px 5px 10px rgb(38, 36, 30));
}
body .projects .project .modal .modal-content .container .row .column .img_bottom:hover,
body .projects .project .modal .modal-content .container .row .column .img_bottom .active,
body .projects .project1 .modal .modal-content .container .row .column .img_bottom:hover,
body .projects .project1 .modal .modal-content .container .row .column .img_bottom .active {
  opacity: 1;
  cursor: pointer;
  scale: 5deg;
}
body .projects .project .modal .modal-content .container .row .column .img_bottom:hover,
body .projects .project1 .modal .modal-content .container .row .column .img_bottom:hover {
  cursor: pointer;
  opacity: 0.9;
  width: 215px;
}
body .projects .project .modal .overflh body,
body .projects .project1 .modal .overflh body {
  overflow: hidden;
}
body footer .footer-container {
  display: flex;
  position: relative;
  justify-content: space-around;
}
body footer .footer-container .contact-info {
  display: flex;
  margin-bottom: 20px;
}
body footer .footer-container .contact-info .cont-title-img {
  filter: drop-shadow(5px 10px 5px rgb(94, 86, 63));
  rotate: 348deg;
  padding-top: 5%;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-info .cont-title-img {
    width: 25dvw;
    height: 220px;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info .cont-title-img {
    rotate: 348deg;
  }
}
body footer .footer-container .contact-info .cont-title {
  font-size: 70px;
  padding-left: 22px;
  font-family: "ChelaOne";
  color: #F1E8DF;
  font-weight: 500;
  filter: drop-shadow(5px 10px 5px rgb(95, 90, 84));
  rotate: 344deg;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-info .cont-title {
    font-size: 12vw;
  }
}
body footer .footer-container .contact-info .social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  filter: drop-shadow(3px 1px 5px rgb(80, 75, 59));
}
body footer .footer-container .contact-info .social .sn:hover {
  padding: 1%;
  filter: drop-shadow(5px -2px 7px rgb(94, 86, 63));
}
body footer .footer-container .contact-info .social .sn .soc {
  width: 70px;
}
@media (max-width: 767.98px) {
  body footer .footer-container .contact-info .social .sn .soc {
    width: 50px;
  }
}
@media (max-width: 479.98px) {
  body footer .footer-container .contact-info .social .sn {
    margin-left: -50% !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info .social {
    margin-top: 30%;
    margin-right: 10% !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-info {
    margin-bottom: 20px;
    align-self: flex-start;
    margin: 0 0 4% 15%;
  }
}
body footer .footer-container .contact-news {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news .newsl-bg {
    width: 84vw !important;
    justify-self: baseline;
  }
}
body footer .footer-container .contact-news form {
  position: absolute;
  height: 230px;
  padding-left: 2dvw;
}
body footer .footer-container .contact-news form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
  font-family: "ChelaOne";
  color: #A47155;
  border: none;
  font-size: 21px;
}
body footer .footer-container .contact-news form label textarea,
body footer .footer-container .contact-news form label input {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 210px;
  margin-left: 28%;
  margin-bottom: 1%;
  border: 0 !important;
  height: 35px;
  overflow-wrap: normal;
  background-color: transparent;
  font-family: "ChelaOne";
  color: #A47155;
}
body footer .footer-container .contact-news form label textarea:hover, body footer .footer-container .contact-news form label textarea:focus,
body footer .footer-container .contact-news form label input:hover,
body footer .footer-container .contact-news form label input:focus {
  width: 180px;
  border-style: none;
  border: 0;
}
body footer .footer-container .contact-news form label textarea:focus-visible,
body footer .footer-container .contact-news form label input:focus-visible {
  outline: 0;
}
body footer .footer-container .contact-news form label #ask {
  max-width: 260px;
  height: 90px;
  overflow-y: auto;
  resize: vertical;
  margin-top: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
}
@media (max-width: 479.98px) {
  body footer .footer-container .contact-news form label {
    width: 141px;
    height: 39px;
    font-size: 14px !important;
    padding-left: 0px;
  }
  body footer .footer-container .contact-news form label input {
    margin-left: 0;
    width: 113px;
    height: 40px !important;
  }
  body footer .footer-container .contact-news form .ask {
    height: 80px !important;
  }
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news form label {
    width: 150px;
    height: 45px;
    font-size: 14px !important;
    padding-left: 10px;
  }
  body footer .footer-container .contact-news form label textarea,
  body footer .footer-container .contact-news form label input {
    margin-left: 0;
    width: 176px;
    height: 61px !important;
  }
  body footer .footer-container .contact-news form .ask {
    height: 80px !important;
  }
}
body footer .footer-container .contact-news form .subm {
  display: flex;
  position: absolute;
  background-color: white;
  font-family: "Chicle";
  color: #A47155;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 22px;
  padding: 1% 3%;
  border-color: #F1E8DF;
  border-style: solid;
  border-width: 0.4ch;
  border-radius: 10% 40% 10% 52%;
}
body footer .footer-container .contact-news form .subm:hover {
  cursor: pointer;
  padding: 1.4% 3.5%;
  text-shadow: #6b5447;
  color: #B8E0D8;
  border-color: #B8E0D8;
}
@media (max-width: 575.98px) {
  body footer .footer-container .contact-news form {
    height: 175px;
    padding-left: 1dvw !important;
    width: 200px;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container .contact-news img {
    max-width: 50vw !important;
  }
}
@media (max-width: 1023.98px) {
  body footer .footer-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10% !important;
  }
}
@media (max-width: 1149.98px) {
  body footer .footer-container .cont-title {
    font-size: 62px;
    margin-top: 10%;
  }
  body footer .footer-container .social {
    margin-top: 28%;
    margin-left: -8% !important;
  }
  body footer .footer-container .contact-news img {
    max-width: 500px !important;
  }
}/*# sourceMappingURL=main.css.map */