//Mixins
@function breakpoint-next($name,
	$breakpoints: $grid-breakpoints,
	$breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@return if($n < length($breakpoint-names),
		nth($breakpoint-names, $n + 1),
		null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
	$next: breakpoint-next($name, $breakpoints);
	@return if($next, breakpoint-min($next, $breakpoints) - 0.02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
	@return if(breakpoint-min($name, $breakpoints)==null, "", "#{$name}");
}

// Responsive mixins
@mixin media-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);

	@if $min {
		@media (min-width: $min) {
			@content;
		}
	}

	@else {
		@content;
	}
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	$current: map-get($breakpoints, $name);
	$current-max: $current - 0.02px;

	@if $min {
		@media (max-width: $current-max) {
			@content;
		}
	}

	@else {
		@content;
	}
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($lower, $breakpoints);
	$max: breakpoint-max($upper, $breakpoints);
	$current-upper: map-get($breakpoints, $upper);
	$current-upper-max: $current-upper - 0.02px;

	@if $min !=null {
		@media (min-width: $min) and (max-width: $current-upper-max) {
			@content;
		}
	}

	@else if $min==null {
		@include media-down($upper, $breakpoints) {
			@content;
		}
	}
}


// Fonts
@font-face {
	font-family: "ChelaOne";
	src: url(/fonts/ChelaOne-Regular.woff2);
}

@font-face {
	font-family: "Chicle";
	src: url(/fonts/Chicle-Regular.woff2);
}

// Variables
$background-color: #B8E0D8;
$color-brown: #A47155;
$color-yellow: #EBDF55;
$color-cream: #F1E8DF;

$bg-color: #F5F5E2;
$color-green: #8EA257;
$color-orange: #F0AC70;
$color-light-grey: #E4E1C7;

//Mixin screen sizes breakpoints
$grid-breakpoints: (
	"xxs": 360px,
	"_450":450px,
	"xs_xxs":480px,
	"_500":500px,
	"xs": 576px,
	"_640": 640px,
	"s": 768px,
	"_815": 815px,
	"m": 992px,
	"l": 1024px,
	"l2": 1150px,
	"_1190": 1190px,
	"xl": 1280px,
	"xxl": 1400px
);

// Reset
a {
	color: initial;
	text-decoration: none;
}

// ---------------------------------------

body {
	min-width: fit-content;
	background-color: #B8E0D8;


	// ----------------------------------------
	// RESPONSIVE FOR SOME PARTS

	@include media-down(s) {

		.navbar-left {
			a {
				font-size: 18px !important;
				left: 10dvw !important;
			}
		}

		.navbar-right {
			a {
				font-size: 18px !important;
			}
		}

		.about {

			.bg_about {
				width: 95vw;
				height: 350px;
			}

			.about_title {
				bottom: 200px !important;
				font-size: 15px !important;
			}
		}

	}


	@include media-down(_1190) {

		.navbar-left,
		.navbar-right {
			a {
				font-size: 20px !important;
			}
		}

		// .heroshoot {

		// 	.year {
		// 		font-weight: 400 !important;
		// 		font-size: 12px;
		// 	}

		// 	.hero-img {
		// 		max-width: 880px;
		// 	}

		// 	.logo {
		// 		max-width: 120px;
		// 	}
		// }

		.about {
			flex-direction: column;

			.personal_img {
				left: 34% !important;
				max-width: 40vw;
			}

		}

	}

	@include media-down(m) {

		.navbar-left {
			left: -90dww;
			padding: 0px 1px;

			a {
				font-size: 16px !important;
				padding: 1px;
			}
		}

		.navbar-right {
			right: -12dvh !important;
			padding: 0px 1px;

			a {
				font-size: 16px !important;
				padding: 1px;
			}
		}
	}


	// --****************************************************
	// Home button option
	.home-btn {
		position: absolute;
		rotate: 270deg;
		padding: 5px 3px;
		background-color: $color-brown;
		box-shadow: 1px 1px 10px 1px #a78365;
		z-index: 5;
		align-self: end;
		left: -2%;
		margin-bottom: 50px;

		a {
			text-align: center;
			font-size: 20px;
			padding: 4px 12px;
			font-family: "ChelaOne";
			color: $color-cream;
			background-color: $color-brown;
			margin: 2px;
			text-shadow: 1px 1px 1px #4a3820;

			&:hover {
				border-color: $color-cream;
				font-weight: 100;
				background-color: $color-cream;
				color: $color-brown;
				justify-self: center;
				padding: 9px 6px;
				border-width: 0.4ch;
				border-style: solid;
			}
		}
	}

	@include media-down(xs_xxs) {
		.home-btn {
			left: -6% !important;
		}
	}

	@include media-down(_815) {
		.home-btn {
			left: -3.8%;

			a {
				font-size: 15px;
			}
		}
	}
	// --****************************************************
	// Header start from here
	header {
		position: relative;

		.navbar-left,
		.navbar-right {
			position: absolute;
			rotate: 270deg;
			top: 18px;
			padding: 8px 1px;
			background-color: $color-yellow;
			box-shadow: 1px 1px 10px 1px #a78365;
			z-index: 5;

			a {
				text-align: center;
				font-size: 22px;
				padding: 2px 10px;
				font-family: "ChelaOne";
				color: $color-cream;
				margin: 4px;
				text-shadow: 2px 2px 4px #6b5447;

				&:hover {
					border-color: $color-cream;
					font-weight: 100;
					background-color: #F1E8DF;
					color: #EBDF55;
					justify-self: center;
					padding: 9px 6px;
					border-width: 0.4ch;
					border-style: solid;
				}
			}
		}

		.navbar-right {
			right: -5dvw;
			top: 16dvh;
		}

	}
	// --****************************************************
	// Main start from here
	main {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		min-width: fit-content;
	}
	// --****************************************************
	// Heroshot section start from here
	.heroshoot {
		display: flex;
		justify-content: center;
		position: relative;

		.progress {
			background-color: $color-brown;
			border-radius: 21px;
			position: absolute;
			left: 7%;
			height: 86%;
			width: 1dvw;
			rotate: 180deg;
			margin-top: 4%;
			z-index: 8;
		}

		.progress-one,
		.progress-two {
			background: $color-yellow;
			box-shadow: 0 3px 3px -5px #11110f, 0 2px 5px #0d0d0a;
			border-radius: 20px;
			color: #000000;
			display: flex;
			z-index: 11;
			position: absolute;
			align-items: baseline;
			justify-content: left;
			height: 2%;
			rotate: 180deg;
			width: 12px;
			opacity: 0.01;
			transition: 2s ease 0.3s;

			.year {
				z-index: 12;
				justify-self: flex-end;
				padding: 3px;
				position: absolute;
				color: #7f4b2f;
				filter: drop-shadow(-1px 1px 1px rgb(255, 255, 255));
				font-weight: 700;
				box-shadow: 0 3px 3px -5px #2b2b2a, 0 2px 5px #2c2c2a;
				left: 20px;
			}
		}

		.progress-two {
			z-index: 10;
			height: 3%;
		}

		.hero-img {
			position: relative;
			filter: drop-shadow(-10px 10px 5px rgb(99, 81, 57));
			max-width: 75vw;
		}

		.logo {
			position: absolute;
			top: 15px;
			max-width: 14vw;
		}

		@include media-down(500) {
			.logo {
				top: 5px;
			}
		}
	}
	// --****************************************************
	// About section start from here
	.about {
		position: relative;
		display: flex;
		margin-top: 10vh;
		height: 100%;
		margin-bottom: 10vh;
		align-items: center;
		justify-content: center;
		gap: 5vw;

		.about-img {
			@include media-down(xs) {
				.bg_img {
					width: 80vw;
				}
			}

			.personal_img {
				position: absolute;
				filter: drop-shadow(-10px 10px 5px rgb(71, 63, 52));
				left: 16%;
				width: 220px;
				margin-top: 1%;
			}

			@include media-down(xs) {
				.personal_img {
					padding-left: 0.1%;
				}
			}

		}

		.about_info {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 350px;

			.myBtnAbout {
				position: absolute;
				background: none;
				border: none;
				padding-bottom: 42px;
				padding-left: 35px;
				transition: width 2s;
				filter: drop-shadow(-5px 2px 4px rgb(71, 63, 52));
				z-index: 10;

				&:hover {
					cursor: pointer;
					opacity: 0.9;
					width: 75px;
					filter: drop-shadow(-3px 3px 5px rgb(129, 110, 51));
				}

			}

			@include media-down(_500) {
				.myBtnAbout {
					width: 60px;

					&:hover {
						width: 55px;
						cursor: pointer;

					}
				}

			}

			.modalAbout {
				display: none;
				position: fixed;
				z-index: 19 !important;
				padding-top: 10px;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.4);

				.modal-contentAbout {
					background-color: $color-cream;
					border-radius: 30px;
					border: 1px solid $color-cream;
					width: 92vw;
					height: 94vh;
					overflow-x: hidden;
					justify-items: center;

					.closeAb {
						color: $color-brown;
						font-weight: 800;
						padding: 3px 15px;
						float: right;
						background-color: rgba(1, 1, 0, 0);
						z-index: 15 !important;
						font-size: 28px;
						align-self: anchor-center;
						font-weight: bold;
					}

					.mySlidesAbout {
						display: flex;
						position: relative;
						width: 94vw;
						align-items: center;
						justify-content: center;
						border-radius: 40px;
						background-color: $color-cream;

						.title-p {
							font-size: 25px;
							color: $color-brown;
							text-align: center;
							font-family: "ChelaOne";
							margin: 1px;
							padding-top: 2px;
							padding-bottom: 15px;
							filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
						}

						.bold {
							font-weight: 800;
							font-size: 18px;
						}

						.left-education {
							display: flex;
							flex-direction: column;
							align-content: space-evenly;
							min-width: 40vw;
							padding: 15px 30px 15px 30px;
							color: $color-brown;
							border-radius: 0px;
							justify-content: center;
							padding: 1% 5% 1% 5%;

							.education-info {
								padding: 0.1%;
								box-shadow: 1px 1px 2px 1px #b3a293;
								margin: 2%;
								color: $color-brown;
								background-color: #9fd0c750;
								font-family: "Chile";
								border-style: double;
								border-color: $background-color;
								text-align: center;

							}
						}

						.right-work {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							min-width: 35vw;


							.availab {
								padding: 1% 5% 1% 5%;
								margin-bottom: 5%;
								color: $color-brown;
								background-color: $color-cream;
								box-shadow: 1px 1px 10px 1px #a78365;
								font-family: "Chile";
								border-style: double;
								margin-bottom: 15px;
								border-color: $color-cream;
								text-align: center;

							}

							.employment {
								margin-bottom: 5%;
								padding: 1% 5% 2% 5%;
								color: $color-brown;
								background-color: $color-cream;
								box-shadow: 1px 1px 10px 1px #a78365;
								font-family: "Chile";
								border-style: double;
								border-color: $color-cream;
								text-align: center;

							}

						}
					}

					@include media-down("s") {
						.mySlidesAbout {
							flex-direction: column;
							border-radius: 3px;
							width: 90vw;
							border-radius: 4px;
						}
					}


				}

				@include media-down("s") {
					.modal-contentAbout {
						border-radius: 3px;
						width: 90vw;
						height: 99vh;
						overflow-x: scroll;
						overflow-y: scroll;
						scroll-behavior: smooth;

					}
				}
			}

			.about_title {
				position: absolute;
				font-family: 'ChelaOne';
				color: $color-cream;
				font-size: 19px;
				align-self: anchor-center;
				padding: 8px;
				background-color: $color-brown;
				border-color: $color-brown;
				border-style: solid;
				border-width: 0.3ch;
				border-radius: 59% 5% 71% 0%;
				left: 16%;
				rotate: 349deg;
				text-shadow: 3px 2px 3px rgb(77, 67, 54);
				filter: drop-shadow(3px 2px 3px rgb(77, 67, 54));
				bottom: 260px;
			}

			.about_me {
				position: absolute;
				font-size: 19px !important;
				align-self: anchor-center;
				justify-self: anchor-center;
				padding: 5% 16% 6% 31%;
				font-family: "ChelaOne";
				word-spacing: 0.1cm;
				justify-content: center;
				color: $color-brown;
				rotate: 356deg;
				text-shadow: 1px 1px 1px rgb(255, 255, 255);
			}

			@include media-down("s") {
				.about_me {
					font-size: 15px !important;
					padding: 9% 16% 5% 32%;
				}
			}

			// ___________ABOUT PART 2______________-

			.myBtnAbout1 {
				position: absolute;
				background: none;
				border: none;
				padding-bottom: 25px;
				left: 115px;
				transition: width 2s;
				z-index: 10;
				filter: drop-shadow(-5px 2px 4px rgb(71, 63, 52));

				&:hover {
					cursor: pointer;
					opacity: 0.9;
					width: 75px;
					filter: drop-shadow(-3px 3px 5px rgb(129, 110, 51));
				}

			}

			@include media-down(_500) {
				.myBtnAbout1 {
					width: 60px;

					&:hover {
						width: 55px;
						cursor: pointer;

					}
				}

			}

			.modalAbout1 {
				display: none;
				position: fixed;
				z-index: 19 !important;
				padding-top: 10px;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.4);


				.modal-contentAbout1 {
					background-color: $color-cream;
					border-radius: 30px;
					border: 1px solid $color-cream;
					width: 92vw;
					height: 94vh;
					overflow-x: hidden;
					justify-items: center;

					.closeAb1 {
						color: $color-brown;
						font-weight: 800;
						padding: 3px 15px;
						float: right;
						background-color: rgba(1, 1, 0, 0);
						z-index: 15 !important;
						font-size: 28px;
						align-self: anchor-center;
						font-weight: bold;
					}

					.mySlidesAbout1 {
						display: flex;
						position: relative;
						width: 94vw;
						align-items: center;
						justify-content: center;
						border-radius: 40px;
						background-color: $color-cream;

						.title-p1 {
							font-size: 25px;
							color: $color-brown;
							text-align: center;
							font-family: "ChelaOne";
							margin: 1px;
							padding-top: 2px;
							padding-bottom: 15px;
							filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
						}

						.bold1 {
							font-weight: 800;
							font-size: 18px;
							font-family: "ChelaOne";
						}

						.lang {
							font-size: 16px;
							font-weight: 800;
							width: fit-content;
							justify-self: center;
							font-family: "Chile";
							padding: 10px 30px;
							border-color: #f7f5f2;
							border-style: dashed;
							background-color: $color-cream;
						}

						.left-languages {
							display: flex;
							flex-direction: column;
							align-content: space-evenly;
							min-width: 30vw;
							padding: 15px 30px 15px 30px;
							color: $color-brown;
							border-radius: 0px;
							justify-content: center;
							padding: 1% 5% 1% 5%;

							.languages-info {
								color: $color-brown;
								text-align: center;

								.lang_container {
									text-align: start;
									background-color: $color-cream;
									padding: 15px 50px;
									box-shadow: 0px 0px 10px 7px #ffffff76;

									li {
										font-family: "Chile";
										list-style: square;
										font-size: 16px;
										padding: 1%;
									}
								}

							}
						}

						.right-pers-skill {
							display: flex;
							flex-direction: column;
							justify-content: center;
							flex-wrap: wrap;
							padding: 8%;
							min-width: 30vw;

							.title-personal {
								font-size: 25px;
								color: $color-brown;
								text-align: center;
								font-family: "ChelaOne";
								margin: 1px;
								padding-top: 2px;
								padding-bottom: 55px;
								filter: drop-shadow(1px 0.5px 1px rgb(10, 10, 8));
							}

							.personal_skill_bg {
								box-shadow: 0px 0px 10px 7px #ffffff76;
								padding: 20px;

								.personal_skill_container {
									display: flex;
									flex-direction: row;
									margin-bottom: 1%;
									color: $color-brown;
									background-color: $color-cream;
									font-family: "Chile";
									border-style: double;
									border-color: $color-cream;
									text-align: start;

									.personal_skill {
										padding-right: 20px;
										margin: 1px;
										font-weight: 600;
										font-size: 14px;
									}

									.responsive-ps {
										display: flex;
										flex-direction: row;

										li {
											align-self: center;
											margin: 4px;
											filter: drop-shadow(1px 0.5px 1px rgb(102, 112, 112));
											list-style: circle;
											background-color: $background-color;
											border-radius: 60px;
											color: $background-color;
											font-size: 16px;
										}

										.empty {
											background-color: rgb(228, 240, 239);
											border-radius: 60px;
											color: $background-color;
										}
									}

								}

								@include media-down(_450) {
									.personal_skill_container {
										flex-direction: column;
									}
								}
							}

						}
					}

					@include media-down("s") {
						.mySlidesAbout1 {
							flex-direction: column;
							border-radius: 3px;
							width: 90vw;
							border-radius: 4px;

						}
					}


				}

				@include media-down("s") {
					.modal-contentAbout1 {
						border-radius: 3px;
						width: 90vw;
						height: 99vh;
						overflow-x: scroll;
						overflow-y: scroll;
						scroll-behavior: smooth;

					}
				}
			}
		}
	}
	// --****************************************************
	// Skills section start from here
	.skills {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;
		flex-wrap: wrap;
		padding: 2%;
		position: relative;
		flex-direction: column;

		.skills-container {
			min-width: 90vw;
			display: flex;
			padding: 2%;
			opacity: 1;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;
			filter: drop-shadow(3px 2px 3px rgb(71, 63, 52));

			.skill {
				padding: 1%;

				&:hover {
					cursor: pointer;
					filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));

				}
			}

			@include media-down(_640) {
				.skill {
					height: 70px;
					width: 60px;
				}
			}
		}

		.front-end-skills {
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
			padding: 0.6%;
			position: relative;

			.title-skills-f {
				padding-left: 4%;
				position: relative;
				height: 10vh;
				width: 32%;
				align-self: baseline;

				.fe-bg {
					font-family: 'ChelaOne';
					color: #A47155;
					font-size: 25px;
					padding: 10px;
					margin-top: 1%;
					background-color: $color-cream;
					border-color: $color-brown;
					border-style: solid;
					border-width: 0.3ch;
					border-radius: 32% 1% 73% 2%;
					padding-left: 15%;
					padding-right: 58px;
				}

				@include media-down(_815) {
					.fe-bg {
						font-size: 15px !important;
						width: 95%;
					}

				}

				@include media-down(s) {
					.fe-bg {
						font-size: 16px !important;
					}
				}
			}

		}

		.bg-skills {
			align-self: center;
			filter: drop-shadow(11px -2px 7px rgb(71, 63, 52));
			position: relative;
			opacity: 0.9;
			justify-items: center !important;
		}

		@include media-down(_640) {
			.bg-skills {
				width: 100px;
			}
		}

		.data-science-skills {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			padding: 0.6%;
			position: relative;

			.title-skills-ds {
				padding-left: 4%;
				position: relative;
				height: 10vh;
				width: 32%;

				.ds-bg {
					font-family: "ChelaOne";
					color: #A47155;
					font-size: 25px;
					padding: 10px;
					margin-top: 1%;
					background-color: $color-cream;
					border-color: $color-brown;
					border-style: solid;
					border-width: 0.3ch;
					border-radius: 2% 85% 3% 42%;
					padding-left: 15%;
					padding-right: 68px;
				}

				@include media-down(_815) {
					.ds-bg {
						font-size: 16px !important;
						width: 95%;
					}
				}
			}

		}
	}

	@include media-down(l2) {
		.skills {
			.skills-container {
				gap: 0.53%;
			}

			.fe-bg,
			.ds-bg {
				font-size: 23px !important;
			}
		}
	}
	// --****************************************************
	// Project section start from here
	// Title for project section
	.title-project {
		display: flex;
		flex-direction: row;
		justify-content: left;
		flex-wrap: wrap;
		position: relative;
		margin-bottom: 50px;

		P {
			position: absolute;
			font-family: 'ChelaOne';
			color: #A47155;
			font-size: 50px;
			margin-top: 1%;
			padding-left: 100px;
		}
	}

	@include media-down(s) {
		.title-project {
			padding-left: 4vw !important;

			img {
				width: 220px;
				height: 50px !important;
			}

			p {
				margin-top: 0.5%;
				padding-left: 50px;
				font-size: 30px;

			}
		}
	}

	// Project section
	.projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: space-around;
		position: relative;
		margin-bottom: 100px;
		min-height: 40vh;

		.project,
		.project1 {
			margin: 20px;
			align-items: center;

			.myBtn {
				color: $bg-color;
				display: block;

				&:hover {
					background-color: $color-cream;
					color: $color-green;
					cursor: pointer;
					opacity: 0.9;
					scale: 5deg;
					padding: 4% 0 0 4%;
					border-radius: 40px;
				}

				@include media-down(xs) {
					width: 300px;

				}

			}

			.active_img {
				background-color: #a49477;
				color: #E4E1C7;

				&:hover {
					background-color: rgb(45, 22, 77) !important;
				}
			}

			.modal {
				display: none;
				position: fixed;
				z-index: 14 !important;
				padding-top: 10px;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				box-sizing: border-box;
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.4);


				.modal-content {
					background-color: $color-cream ;
					margin: auto;
					padding: 6px;
					border-radius: 40px;
					border: 1px solid $color-cream;
					width: 80vw;
					height: 85vh;
					box-sizing: border-box;
					justify-items: center;

					.close {
						color: $color-brown;
						float: right;
						background-color: rgba(1, 1, 0, 0);
						z-index: 15 !important;
						font-size: 28px;
						align-self: anchor-center !important;
						font-weight: bold;

						&:hover,
						:focus {
							text-decoration: none;
							cursor: pointer;

						}
					}
						.title-p {
									font-size: 25px;
									color: $color-brown;
									text-align: center;
									// padding-bottom: 20px;
									font-size: 25px;
									font-family: "ChelaOne";
								}

					p {
						color: $color-brown;
						font-family: "Chile";
						margin: 5px;
					    padding: 5px;
    justify-self: anchor-center;
					}

					.container {
						position: relative;
						width: 74vw;
						align-items: center;
						border-radius: 40px;
						height: 80vh !important;


						.mySlides {
							display: flex;
							border-radius: 30px;
							height: 56vh;

							.numbertext {
								color: $color-brown;
								font-size: 12px;
								position: absolute;
								padding: 1px 10px;
								margin: 2px;
								top: 0;
								justify-self: anchor-center !important;
								font-size: 14px;
								background-color: $color-cream;
								border-radius: 90px 40px 90px 40px;
							}

							.left-side {
								display: flex;
								flex-direction: column;
								align-content: space-evenly !important;
								max-width: 80vw;
								padding-left: 3%		;
								color: $color-cream;
											border-radius: 40px;
								justify-content: center;

								.title-p {
									font-size: 25px;
									color: $color-brown;
									text-align: center;
															font-size: 22px;
									font-family: "ChelaOne";
								}

								.info_pr {
									color: $color-brown;
									font-family: "Chile";
									text-align: start;
									padding: 20px 25px;
									    margin: 10% 4% 15%;
									font-size: 16px;
									word-spacing: 0.4cm;
									word-wrap: break-word;
									border-radius: 90px 90px 40px 40px;
								}

								.link-proj {
									font-size: 16px;
									background-color: $color-brown;
									padding: 3% 8%;
									color: rgb(248, 248, 248);
									border-radius: 90px 90px 40px 40px;
									font-family: "ChelaOne";
									width: fit-content;
									text-align: center;
								}

							}

							.right-side {
								display: grid;
								justify-content: center;
								align-items: center;
								max-width: 32vw;
								filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));

								.demo {
									opacity: 0.8;
									max-height: 60vh;
									max-width: 30vw;

									&:hover,
									.active {
										opacity: 1;
										cursor: pointer;
									}

								}

							}

							.right-side-gallery {
								display: flex;
								flex-wrap: wrap;
								max-height: 46vh;
								justify-content: center;
								align-items: center;
								filter: drop-shadow(5px 5px 10px rgb(94, 86, 63));

								.demo {
									opacity: 0.7;
									max-height: 35vh;
									max-width: 25vw;
									padding: 2%;

									&:hover,
									.active {
										opacity: 1;
										cursor: pointer;
										scale: 40deg;
									}

								}
							}

							.project-tech {

								.tech_name {
									font-size: 16px;
									font-weight: 800;
									justify-self: center;
									font-family: "ChelaOne";
									padding: 10px 30px;

								}

								.proj_overv {
									font-size: 17px;
									justify-self: start;
									font-family: "Chile";
									padding: 10px 28px 20px;
								}


								.tech_container {
									color: $color-brown;
									text-align: center;
									padding: 10px;
									max-width: 60vw;

									.tech_lang {
										text-align: start;
										display: flex;
										flex-direction: row;
										flex-wrap: wrap;
										justify-content: center;
										background-color: $color-cream;
										padding: 1px 50px;


										li {
											font-family: "Chile";
											list-style: square;
											font-size: 17px;
											padding: 2%;
										}
									}

								}

								.title-p1 {
									font-size: 25px;
									color: $color-brown;
									text-align: center;
									padding-bottom: 20px;
									font-size: 22px;
									font-family: "ChelaOne";
								}

							}
						}

						.prev,
						.next {
							cursor: pointer;
							position: absolute;
							top: 40%;
							width: auto;
							padding: 16px;
							margin-top: -50px;
							color: $color-brown;
							font-weight: bold;
							font-size: 20px;
							border-radius: 0 3px 3px 0;
							user-select: none;
							-webkit-user-select: none;
							padding: 20px 14px 20px 26px;

							&:hover {
								background-color: rgba(0, 0, 0, 0.8);
								z-index: 16;
							}
						}

						.next {
							right: 0;
							padding: 20px 14px 20px 26px;
							border-radius: 3px 0 0 3px;
						}

						.caption-container {

							#caption {
								text-align: center;
								font-size: 18px;
								padding: 1px 10px !important;
								font-family: "ChelaOne";
								margin: 10px 20px !important;
								color: $color-brown;
								border-style: double;
								border-color: $color-brown;
								border-radius: 90px 40px 90px 40px;
							}
						}

						.row {
							display: flex;
							flex-wrap: nowrap;
							padding: 5px 20px !important;
							margin-top: 10px;
							box-sizing: border-box;
							height: 13vh;
							justify-content: space-evenly;
							align-items: stretch;
							align-self: center !important;
							flex-direction: row;
							border-radius: 20px;

							.column {
								float: left;
								align-items: center;
								display: flex;
								gap: 10px;

								.img_bottom {
									opacity: 0.7;
									max-height: 10vh;
									max-width: fit-content;
									align-self: anchor-center;
									filter: drop-shadow(5px 5px 10px rgb(38, 36, 30));

									&:hover,
									.active {
										opacity: 1;
										cursor: pointer;
										scale: 5deg;
									}

									&:hover {
										cursor: pointer;
										opacity: 0.9;
										width: 215px;

									}
								}

							}
						}

					}

				}

				.overflh body {
					overflow: hidden;

				}

			}

		}
	}
	// --****************************************************
	// --****************************************************
	// Footer start from here
// }
	footer {

		.footer-container {
			display: flex;
			position: relative;
			justify-content: space-around;

			// Contact info start from here
			.contact-info {
				display: flex;
				margin-bottom: 20px;

				.cont-title-img {
					filter: drop-shadow(5px 10px 5px rgb(94, 86, 63));
					rotate: 348deg;
					padding-top: 5%;
				}

				@include media-down(xs) {
					.cont-title-img {
						width: 25dvw;
						height: 220px;
					}
				}

				@include media-down(l) {
					.cont-title-img {
						rotate: 348deg;
					}
				}

				.cont-title {
					font-size: 70px;
					padding-left: 22px;
					font-family: "ChelaOne";
					color: #F1E8DF;
					font-weight: 500;
					filter: drop-shadow(5px 10px 5px rgb(95, 90, 84));
					rotate: 344deg;
				}

				@include media-down(xs) {
					.cont-title {
						font-size: 12vw;
					}
				}

				.social {
					display: flex;
					flex-direction: column;
					gap: 20px;
					justify-content: flex-end;
					filter: drop-shadow(3px 1px 5px rgb(80, 75, 59));

					.sn {

						&:hover {
							padding: 1%;
							filter: drop-shadow(5px -2px 7px rgb(94, 86, 63));
						}

						.soc {
							width: 70px;
						}

						@include media-down(s) {
							.soc {
								width: 50px;
							}
						}
					}

					@include media-down(xs_xxs) {
						.sn {
							margin-left: -50% !important;


						}
					}
				}

				@include media-down(l) {
					.social {
						margin-top: 30%;
						margin-right: 10% !important;

					}
				}

			}

			@include media-down(l) {
				.contact-info {
					margin-bottom: 20px;
					align-self: flex-start;
					margin: 0 0 4% 15%;
				}
			}

			// Contact newsletter start from here
			.contact-news {
				display: flex;

				align-items: center;
				position: relative;
				padding-bottom: 30px;

				@include media-down(xs) {
					.newsl-bg {
						width: 84vw !important;
						justify-self: baseline;
					}
				}

				form {
					position: absolute;
					height: 230px;
					padding-left: 2dvw;

					label {
						display: flex;
						flex-direction: column;
						align-items: center;
						background-color: none;
						font-family: "ChelaOne";
						color: $color-brown;
						border: none;
						font-size: 21px;

						textarea,
						input {
							display: flex;
							flex-direction: column;
							text-align: start;
							width: 210px;
							margin-left: 28%;
							margin-bottom: 1%;
							border: 0 !important;
							height: 35px;
							overflow-wrap: normal;
							background-color: transparent;
							font-family: "ChelaOne";
							color: $color-brown;

							&:hover,
							&:focus {
								width: 180px;
								border-style: none;
								border: 0;
							}

							&:focus-visible {
								outline: 0;
							}
						}

						#ask {
							max-width: 260px;
							height: 90px;
							overflow-y: auto;
							resize: vertical;
							margin-top: 2%;
							overflow-wrap: break-word;
							word-wrap: break-word;
							white-space: pre-wrap;
							box-sizing: border-box;
						}
					}

					@include media-down(xs_xxs) {
						label {
							width: 141px;
							height: 39px;
							font-size: 14px !important;
							padding-left: 0px;

							input {
								margin-left: 0;
								width: 113px;
								height: 40px !important;
							}
						}

						.ask {
							height: 80px !important;
						}
					}

					@include media-down(xs) {
						label {
							width: 150px;
							height: 45px;
							font-size: 14px !important;
							padding-left: 10px;

							textarea,
							input {
								margin-left: 0;
								width: 176px;
								height: 61px !important;
							}
						}

						.ask {
							height: 80px !important;
						}
					}

					.subm {
						display: flex;
						position: absolute;
						background-color: white;
						font-family: "Chicle";
						color: $color-brown;
						margin-top: 15px;
						margin-left: 40px;
						font-size: 22px;
						padding: 1% 3%;
						border-color: $color-cream;
						border-style: solid;
						border-width: 0.4ch;
						border-radius: 10% 40% 10% 52%;

						&:hover {
							cursor: pointer;
							padding: 1.4% 3.5%;
							text-shadow: #6b5447;
							color: $background-color;
							border-color: $background-color;
						}
					}
				}

				@include media-down (xs) {
					form {
						height: 175px;
						padding-left: 1dvw !important;
						width: 200px;
					}
				}
			}

			@include media-down(l) {
				.contact-news {
					img {
						max-width: 50vw !important;
					}

				}
			}

		}

		@include media-down(l) {
			.footer-container {
				flex-direction: column;
				align-items: center;
				margin-bottom: 10% !important;
			}
		}

		@include media-down(l2) {
			.footer-container {

				.cont-title {
					font-size: 62px;
					margin-top: 10%;
				}

				.social {
					margin-top: 28%;
					margin-left: -8% !important;
				}

				.contact-news {

					img {
						max-width: 500px !important;
					}

				}
			}
		}
	}
}

// END OF SCSS FILE
// ---------------------------------------