// Fonts
@font-face {
	font-family: "ChelaOne";
	src: url(/fonts/ChelaOne-Regular.woff2);
}

@font-face {
	font-family: "Chicle";
	src: url(/fonts/Chicle-Regular.woff2);
}

// Variables
$background-color: #B8E0D8;
$color-brown: #A47155;
$color-yellow: #EBDF55;
$color-cream: #F1E8DF;

// Reset
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
}

a {
  color: initial;
  text-decoration: none;
}

// -----------------
body {
	background-color: $background-color;

	header{
		position: relative;

		.navbar-left{
			position: absolute;
			rotate: 270deg;
			left: -1.5%;
				top: 45px;
				padding:  10px 30px ;
				background-color: $color-yellow;
				box-shadow:   1px 1px 10px 1px #a78365;

			a{
				font-size: 22px;
				font-family: "ChelaOne";
				color: $color-cream;
				text-shadow:  2px 2px 4px #6b5447;


			}
		}
		.navbar-right{
			position: absolute;
			rotate: 270deg;
			right: -6%;
			top: 112px;
			background-color: $color-yellow;
			padding:  10px 30px ;
			box-shadow:   1px 1px 10px 1px #a78365;
			a{
				text-align: center;
				font-size: 22px;
				font-family: "ChelaOne";
				color: $color-cream;
				margin:  4px;
				text-shadow:  2px 2px 4px #6b5447;
			}

		}
	}


		.heroshoot {
			position: relative;
			display: flex;
			justify-content: center;
			.hero-img{
			position: absolute;
			}
			h5{
				position: absolute;
				font-family: 'ChelaOne' ;
				color: $color-brown;
				font-size: 28px;
				top: 210px;
				padding: 1%;
				margin: 1px;
			}
			.fe-info {
				position: absolute;
				font-family: 'Chicle' ;
				color: $color-brown;
				font-size: 16px;
				top: 280px;
				padding: 1%;
				margin: 1px;
			}
			.ds-title {
				position: absolute;
				font-family: 'ChelaOne' ;
				color: $color-brown;
				font-size: 25px;
				top: 450px;
				padding: 1%;
				margin: 1px;
			}
			.ds-info {
				position: absolute;
				font-family: 'Chicle' ;
				color: $color-brown;
				font-size: 16px;
				top: 480px;
				padding: 1%;
				margin: 1px;
			}
		}
		.about {
			position: relative;


		}

}